.point, .delete, .clear, .clear-all, .calc-number, .equal-sign, .simple-operator {
    border: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4D4D4D;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.32);
    border-radius: 13px;
    outline: none;
    width: 84%;
    height: 80%;
}

.point:hover, .delete:hover, .clear:hover, .clear-all:hover, .simple-operator:hover {
    background: #676767;
}

.calc-number {
    background: #333333;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.32);
}

.calc-number:hover {
    background: #4c4c4c;
}

.equal-sign {
    background: linear-gradient(133.7deg, #F8B535 0%, #FA8700 96.68%);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.32);
    border-radius: 13px;
    min-height: 88%;
}

.equal-sign:focus {
    animation: shake 0.6s;
    animation-iteration-count: 1;
}

.equal-sign:hover {
    background: linear-gradient(133.7deg, #F8B535 0%, #fa7100 96.68%);
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
